<% layout('layouts/boilerplate')%>

<div class="col-lg-8 mx-auto">
  <form class="d-flex form-inline searchCarouselForm border p-1 align-items-center justify-content-center rounded" action="/carouselSearch" method="POST">
         
    <label class="lh-1 small p-1" id="customDate">Search by day:</label>
    <input class="dateInput lh-1 small" type="date" name="dateSearchFromForm" id="dateInput" required/>
    <!-- store current path needed in case of infinite-scroll implementation -->
    <div class="p-1">      
    <button class="btn btn-sm btn-light lh-2">Submit</button>
    </div>  
    
  </form>     
  <% const date = results.date || "latest 24 hours" %>   
  <% if (results.jpgs.length === 0) { %>
      <h5 class="text-center mt-3"><%=`No images from ${date}`%></h5>  
  <% } else { %>
  
    <h5 class="text-center mt-3"><%=`Images from ${date}`%></h5>  
  <% } %>

  <div id="carouselCaptions" class="carousel slide mt-2" data-bs-ride="carousel">
   
    <% if (results.jpgs.length > 1) { %> 
      <ol class="carousel-indicators">
        <% results.jpgs.forEach((result,i) =>{ %>       
          <li data-bs-target="#carouselCaptions" data-bs-slide-to="<%= i %>" class="<%= i === 0 ? 'active' : ''%>" ></li>      
          <% }) %>         
      </ol>
    <% } %> 
  
    <div class="carousel-inner">
      <% results.jpgs.forEach((result,i) => { %>            
      <div class="carousel-item <%= i === 0 ? 'active' : ""%>">
        <img src="<%= result.path  %> " class="d-block w-100" alt="" />
        <div class="carousel-caption d-none d-md-block">
          <h5><%= result.fileTime.toLocaleString()  %> </h5>          
        </div>
      </div>      
      <% }) %>       
    </div>
    
    <% if (results.jpgs.length > 1) { %>       
    <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselCaptions" role="button" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </a>    
    <% } %> 
  </div>

  <% if (results.mkvs.length === 0) { %>
    <h5 class="text-center mt-3"><%=`No recordings from ${date}`%></h5>  
  <% } else { %>
      <h5 class="text-center mt-3"><%=`Recordings from ${date}`%></h5>           
      <div class="list-group">
      <% results.mkvs.forEach((result) => {%> 
        <% const link = result.path.replace(/\/record\//, "") %> 
        <a href="<%= result.path  %> " class="text-center list-group-item list-group-item-action"> <%= link %>  </a> 
      <% }) %> 
      </div>
  <% } %>  
</div>
<div class="flush text-center">    
  <form class="" action="">
    <button type="submit" formaction="/flushDB/" class="btn btn-danger btn-sm" id="flushButton" <% if (process.platform !== "linux" ) { %> disabled <% } %>  >Flush and resync DB</button>
  </form>
</div>

<script>  
  const home = document.getElementById("carousel");
  home.classList.toggle("active");  
</script>